*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.bg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(bg_img.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    /* padding-top: auto; */
}

.form{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgb(55, 138, 206);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    width: 350px;
    max-width: 90%;
    height: 85vh;
    margin: auto;
    padding: 0.5rem;
    background-color: rgba(88, 155, 227, 0.383);
}

form{
    width: 60%;
    padding: 0.5rem;
}

h1{
    text-align: center;
    color: azure;
    margin: 0.5rem;
}

input{
    width: 98%;
    margin-bottom: 0.5rem;
    background-color: azure;
    border: 2px solid transparent;
    border-radius: 0.3rem;
    box-shadow: 0 0 3px rgb(145, 146, 146);
}

label,a{
    color: #186e9d;
}

#remember,#remember1{
    width: auto;
}

.button{
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}

button{ 
    background-color: azure;
    border: 2px solid transparent;
    border-radius: 0.3rem;
    color: rgb(116, 114, 114);
    transition: 0.1s ease 0s;
}

input:hover,
button:hover{
    box-shadow: 1px 1px 10px rgba(240, 255, 255, 0.476);
}

input:focus{
    outline: none
}

#toggle{
    display: none;
}

#form1,#form2{
    position: absolute;
    margin: auto;
    /* top: 5%; */
    transition: 1.5s ease 0s ;
}

#form2{
    transform: translateX(-2000px);
}

#toggle:checked ~ #form1{
    transform: translateX(2000px);
}

#toggle:checked ~ #form2{
    transform: translateX(0);
}

button:hover{
    transform: scale(1.05);
}

label:hover,
button:hover,
#remember:hover,
#remember1:hover{
    cursor: pointer;
}

@media (max-width: 768px) {
  .form {
    height: auto;
  }
}

@media (max-width: 450px) {
  .form {
    width: 85%;
  }
}